@mixin absCenter($top)
  position: absolute
  top: $top
  left: 50%
  transform: translate(-50%, -50%)

@mixin flex($jc, $ai)
  display: flex
  justify-content: $jc
  align-items: $ai

$color-primary: #a3dea2
$color-btn: #ff7286

// tt for debug
.tt
  outline: 1px solid red
// h5 for express errorflash
h5
  position: absolute
  color: red
  font-size: 1rem
  
  
* 
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: Questrial, Microsoft JhengHei

body
  max-width: 1920px

section 
  text-align: center

a  
  text-decoration: none
  color: red

.container 
  max-width: 100vw
  padding: 0 15px
.logo * 
  font-size: 36px
  color: #489846
.title 
  display: inline-block
  font-size: 36px
  margin-bottom: 40px
  border-left: 15px solid $color-primary
  padding-left: 16px


header 
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0
  max-width: 100vw

  .container 
    +flex(space-between, unset)
  .logo 
    margin: auto 0
    padding-left: 25px


.header-nav 
  +flex(space-around, center)

  a 
    color: #010101
    font-size: 18px
    text-align: center
    padding: 14px 25px
    border-radius: 8px
    margin: 20px 5px
    transition: background 500ms ease, color 500ms ease

    &:hover
      background: $color-btn
      color: #fefefe

  .active
    background: $color-btn
    color: #fefefe

  

// home page
.banner 
  position: relative
  background: url("../images/homepg-banner.png") left/cover no-repeat
  height: 580px
  margin-bottom: 80px

  &::after
    content: ""
    background: rgba(0, 0, 0, 0.3)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
  h1 
    +absCenter(50%)
    font-size: 60px
    color: #fff
    z-index: 1
  
  &-menu
    position: relative
    background: url("../images/menu-banner.png") center/cover no-repeat
    width: 100%
    height: 280px
    margin-bottom: 80px



.description p 
  margin-bottom: 20px


.buttons button 
  width: 300px
  height: 160px
  font-size: 36px
  font-weight: bold
  color: #3e613d
  margin: 80px 10px 120px
  border: none
  border-radius: 10px
  cursor: pointer
  transition: transform 300ms ease

  &:hover 
    transform: scale(1.05)


.btn
  &-order 
    background: #a8e8e1
  &-search 
    background: #f9f9b5


.menu-images 
  margin-bottom: 80px
  +flex(center, unset)
  

  div 
    max-width: 25%
    overflow: hidden
  img 
    max-width: 100%



.comments 
  margin-bottom: 90px

  &-body
    display: flex  
    margin-top: 30px
  &-comment
    position: relative
    border: 1px solid #c7e5ec
    border-radius: 5px
    box-shadow: -1.4px -1.4px 4px 0 #d8eaef
    flex: 1
    margin-top: 60px
    margin: 0 8px
    padding: 0 25px
    letter-spacing: 0.14px
    line-height: 1.5em

    img
      position: absolute
      transform: translate(-50%, -50%)
      border: solid 1px #c1c1c1
      border-radius: 50%
      background-color: #c1c1c1
    div 
      margin: 55px 0 50px
      padding-top: 10px
    p:last-child 
      margin-top: 10px

h4
  font-size: 25px


.location 
  margin-bottom: 40px

  iframe
    display: block





/* faq */

.description 
  margin: 50px 0

  .container
    max-width: 800px
    margin: 0 auto
    padding: 0 15px
    text-align: center


.Question
  text-align: left
  border-bottom: 2px solid $color-primary
  margin: 20px 0
  padding-bottom: 20px
  display: flex

  div
   //display: inline-block
  &-list
    color:$color-primary
    font-size: 24px
    font-weight: bold
    cursor: default
    display: inline-block
  &-title
    font-size: 24px
    margin-left: 15px
    
    &:hover
      cursor: pointer



.answer
  text-align: justify
  padding-left: 20px
  font-size: 16px
  margin-top: 15px
  letter-spacing : 2.5pt
  cursor: default
  max-height: 0
  overflow: hidden
  


.active-key
  overflow: visible
  max-height: 400px
  transition: max-height  500ms ease-out




/* lottery */
.event-bg
  height: 520px
  background: url(../images/lottery-eventsbg.png) left/cover no-repeat 
  position: relative
  
  &::after 
    content: ""
    background: rgba(0, 0, 0, 0.3)
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0

  


/* 活動辦法 */
.eventMethod
  &-block
    width: 400px
    height: 400px
    background-color: white
    +absCenter(50%)
    border-radius: 16px
    z-index: 1

    & .eventMethod-description:nth-child(2)
      height: 40px 
      padding: 20px 0
      padding-bottom: 40px
      // .description-content //例外處理
      //   padding-top: 3px
    & .eventMethod-description:nth-child(3)
      height: 50px
      padding: 20px 0
    & .eventMethod-description:nth-child(4)
      height: 130px
      padding: 20px 0

  &-title
    width: 100%
    height: 60px
    font-size: 20px
    font-weight: bold
    color: #5ec1b6
    +flex(center, center)
  &-description
    display: flex
    margin: 0 15px
    border-top:1px dashed #cdcdcd
  &-btn
    font-size: 18px
    color: white
    width: 70%
    height: 40px
    border-radius: 8px
    border: none
    background-color: $color-btn
    +absCenter(calc(100% - 40px))
    


.description
  &-subject
    font-size: 16px
    font-weight: bold
    color: #322929
    width: 25%
    height: 100%
  &-content
    font-size: 16px
    text-align: justify
    color: #322929
    width: 75%
    height: 100%



button:hover
  cursor: pointer 


.hide
  visibility: hidden



/* 公布結果 */
.announce
  &-block
    width: 400px
    height: 200px
    +absCenter(50%)
    z-index: 1
  &-content
    font-size: 30px
    text-align: center
    color: white
    padding: 10px 0
    // +absCenter(30%)
  &-desc
    font-size: 20px
    text-align: center
    color: white
    padding-bottom: 20px
  &-btn
    font-size: 18px
    color: white
    width: 20%
    height: 40px
    border-radius: 8px
    border: none
    background-color: $color-btn
    // +absCenter(calc(100% - 250px))


// 點餐
.menu-images 
  div
    max-width: 557px
    position: relative
    &::before
      content: ""
      background: rgba(255, 255, 255, 0.5)
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
    &::after
      content: "售完"
      color: white
      font-size: 1.2rem
      +absCenter(50%)
      width: 60px
      height: 60px
      background: #2f2f2f
      border-radius: 50%
      +flex(center, center)

.menu-intro
  margin: 7rem 7rem
  display: flex
  img
    max-width: 674px
    width: 40%
  &-txt
    height: fit-content
    margin: 0 2rem
    text-align: start
    display: flex
    flex-direction: column
    align-self: center
    h3
      color: #489846
      font-size: 26px
      margin: 1rem 0


.middle-info
  font-size: 18px
  margin: 1rem auto 6rem
  +flex(center, inherit)
  position: relative

  &::after
    content: ""
    width: 14px
    height: 14px
    border-bottom: 1px solid #000
    border-right: 1px solid #000
    transform: rotate(45deg)
    position: absolute
    top: 180%

  &::before
    content: ""
    width: 15px
    height: 15px
    border-bottom: 1px solid #000
    border-right: 1px solid #000
    transform: rotate(45deg)
    position: absolute
    top: 150%

.dishes
  max-width: 80%
  margin: 4rem auto
  +flex(center, inherit)
  flex-wrap: wrap
  position: relative

  &-card
    margin: 0 1rem 4rem
    & img
      max-height: 292px
      max-width: 292px
  &-info
    +flex(center, inherit)
    color: #3f633c
    font-weight: 600
    margin: .6rem 0
  &-btn
    width: 292px
    height: 46px
    font-size: 1rem
    border: solid 1px #3f633c
    background-color: #f1fff2
    border-radius: 3px

.cart-icon
  width: 60px
  height: 60px
  +flex(center, center)
  background: #30762f
  border-radius: 50%
  position: absolute
  right: 0
  bottom: 0
  transform: translate(50%, 50%)
  img
    width: 60%
  &-count
    content: ""
    background: $color-btn
    border-radius: 50%
    position: absolute
    width: 20px
    height: 20px
    top: -10%
    right: 0
    color: #FFF
    +flex(center, center)
  &:hover
    cursor: pointer

.fake
  height: 292px
  width: 292px 




// 後台
.manage
  margin: 3rem auto
  width: 65%
  min-height: 50vh

.admin-btn
  font-size: 1.5rem
  input
    font-size: 1.2rem
    border-radius: 5px
    background: white
    padding: .2rem .8rem
    margin-left: .6rem
    border: 1px solid 
    &:hover
      cursor: pointer
  &-first
    color: #198754
    border: #198754
    &:hover
      color: white
      background-color: #198754
  &-second
    color: #dc3545
    border: #dc3545
    &:hover
      color: white
      background-color: #dc3545

.manage-btn
  +flex(flex-end,inherit)
  margin-bottom: 2rem
  button
    color: #464646
    border: #464646 1px solid 
    &:hover
      background-color: #464646

.lottery
  &-card
    display: flex
    margin: 0rem 0rem 2rem
    border: 2px solid #aaaaaa
    border-radius: 5px
    height: 250px
    position: relative    
    img
      width: 300px
      height: 100%
      max-width: 40%
      border-radius: 3px

    .lose-info
      +flex(center,center)
      flex-direction: column
      .lottery-desc
        height: unset
  &-info
    width: 100%
    margin: 1rem
    text-align: start
  &-prize
    font-size: 2.5rem
    height: 30%
    overflow: hidden
  &-desc
    font-size: 1.5rem
    height: 50%
    overflow: hidden
  &-others
    position: relative
    +flex(flex-end,inherit)
    font-size: 1.5rem
    height: 20%
    right: 2%
    .percent
      font-size: 2rem
      margin: 0 2rem
  &-admin-btn
    position: absolute
    height: 40px
    right: 0
    top: -22%
    button
      margin: 0 0 0 1rem 
      color: #464646
      border: #464646 1px solid 
      &:hover
        background-color: #464646



.qa-card
  margin: 1rem .5rem 2rem
  flex-direction: column
  .card-answer
    text-align: justify
    padding-left: 20px
    font-size: 16px
    margin-top: 15px
    letter-spacing : 2.5pt
    cursor: default
    overflow: hidden

.qa-btn
  +flex(flex-end,inherit) 
  
.admin-dishes
  max-width: 100%
  margin: 1rem .5rem 2rem
  +flex(space-between,inherit) 
  .dishes-card
    margin: 0
    max-width: 260px
    max-height: 260px
    margin-bottom: 8rem
    img
      max-height: 100%
      max-width: 100%
    .dishes-info
      margin: 1rem 0

.menu-btn
  justify-content: center


// login register
.login-board
  display: block
  border: 2px solid rgb(51, 153, 90)
  width: 30%
  height: 17rem
  margin: 10rem auto
  border-radius: 5px
  box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.7)
  text-align: center
  position: relative

  .lg-title
    font-size: 2.3rem
    margin:1rem 0 1.5rem 0
    
  h2
    position: absolute
    top:3.7rem
    width:100%

  .username , .password
    font-size: 1.5rem
    margin:1rem 0
    input
      height: 1.8rem
      border-radius: 5px
      border:1.5px rgb(51, 153, 90) solid 
      font-size: 1.2rem
      width: 40%

  .submit-btn
    font-size: 1.5rem
    background-color: rgb(255, 255, 255)
    padding: .2rem 1rem
    border-radius: 5px
    border: 1.5px rgb(51, 153, 90)
    &:hover
      background-color: rgb(51, 153, 90)
      color: rgb(255, 255, 255)
      cursor: pointer
  &-bottom
    margin: .5rem
  a
    font-size: 1rem
    margin: 0 .3rem
    color: black
    text-decoration: underline
    &:hover
      color: rgb(51, 153, 90)
  h5
    left: 0
    top: -10%

// lottery add & edit
.lottery-add-board
  display: block
  border: 2px solid rgb(51, 153, 90)
  width: 40%
  height: fit-content
  margin: 2rem auto
  border-radius: 5px
  box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.7)
  position: relative
  display: flex
  flex-direction: column

  .lg-title
    font-size: 2.3rem
    margin: 1rem 0 0rem 0
    font-weight: 600
    align-self: center
  form
    width: 90%
    margin: 0 auto 1rem
  .prize-name
    font-size: 1.5rem
    margin:1rem 0
    span
      max-width: 30%
    input
      height: 1.8rem
      border-radius: 5px
      border:1px rgb(51, 153, 90) solid 
      font-size: 1.2rem
      width: 70%
    
  .prize-desc
    font-size: 1.5rem
    margin:1rem .5rem 1rem 0
    textarea
      margin-top: .5rem
      border-radius: 5px
      border:1px rgb(51, 153, 90) solid 
      font-size: 1.2rem
      width: 100%
  .prize-percent
    input
      width: 3rem
    p
      font-size: 1rem
  .admin-btn
    +flex(flex-end, inherit)
    margin-top: -2rem

  .manage-btn
    position: absolute
    right: 2%
    top: 9%
    input
      font-size: 1rem

// menu add & edit
.menu-add-board
  display: block
  border: 2px solid rgb(51, 153, 90)
  width: 40%
  height: fit-content
  margin: 8rem auto
  border-radius: 5px
  box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.7)
  position: relative
  display: flex
  flex-direction: column
  form
    width: 95%
    margin: 0 auto
  .lg-title
    font-size: 2.3rem
    margin: 1rem 0 0rem 0
    font-weight: 600
    align-self: center
  .dish-name
    font-size: 1.5rem
    margin:1rem 0
    span
      max-width: 30%
    input
      height: 1.8rem
      border-radius: 5px
      border:1px rgb(51, 153, 90) solid 
      font-size: 1.2rem
      width: 70%
  .dish-info
    +flex(space-between, inherit)
    font-size: 1.5rem
    
    .dish-prices
      width: 40%
      span
        width: 45%
      input
        height: 1.8rem
        border-radius: 5px
        border:1px rgb(51, 153, 90) solid 
        font-size: 1.2rem
        width: 40%
    .dish-img
      width: 60%
      span
        width: 45%
      input
        height: 1.8rem
        border-radius: 5px
        border:1px rgb(51, 153, 90) solid 
        font-size: 1.2rem
        width: 70%

  .admin-btn
    +flex(flex-end, inherit)
    margin: 1rem .1rem .5rem 0

  .manage-btn
    position: absolute
    right: 2%
    top: -2%
    input
      font-size: 1rem

    
// FAQ add & edit
.faq-add-board
  display: block
  border: 2px solid rgb(51, 153, 90)
  width: 40%
  height: fit-content
  margin: 2rem auto
  border-radius: 5px
  box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.7)
  position: relative
  display: flex
  flex-direction: column
  form
    width: 95%
    margin: 0 auto
  .lg-title
    font-size: 2.3rem
    margin: 1rem 0 0rem 0
    font-weight: 600
    align-self: center
  .faq-question, .faq-answer
    font-size: 1.5rem
    margin: .5rem .5rem 
    textarea
      margin-top: .5rem
      border-radius: 5px
      border:1px rgb(51, 153, 90) solid 
      font-size: 1.2rem
      width: 100%
  .faq-order
    font-size: 1.5rem
    margin:1rem .5rem 
    input
      width: 3rem
      height: 1.8rem
      border-radius: 5px
      border:1px rgb(51, 153, 90) solid 
      font-size: 1.2rem
  
  .admin-btn
      +flex(flex-end, inherit)
      margin: -2rem .5rem .5rem 0

  .manage-btn
    position: absolute
    right: 0%
    top: 10%
    input
      font-size: 1rem

    

footer
  max-width: 100vw

.footer
  &-top 
    background-color: #e8efee
    padding: 40px 0
    color: #484848

    .container 
      +flex(space-between, unset)
      
  &-info 
    line-height: 2em
  &-sites 
    text-align: right
  &-bottom 
    background: #35564b
    color: #fff
    text-align: center
    padding: 15px 0



@media(max-width: 768px)

  body
    max-width: 100vw

  header 
    .container 
      align-items: center
      flex-direction: column
    .logo 
      margin: 16px auto 0
  


  .header-nav 
    background: white
    top: 50px
    border-radius: 5px
    transition: 0.5s
    margin: 2px 0 10px 0

    &a 
      margin: 5px
      padding: 14px 10px
    &.show
      height: 50vh
  


  .buttons 
    margin-bottom: 80px

    button 
      width: 200px
      height: 120px
      font-size: 24px
      margin: 15px
  

  .menu-images 
    flex-direction: column

    div 
      min-width: 100%
    img 
      width: 100%
  
  
  .comments
    &-body 
      flex-direction: column
    &-comment 
      min-height: 100px
      max-width: 70vw
      margin: 50px auto 0

  .banner-menu
    height: 60px

  .menu-intro
    margin: 3rem 0 
    flex-direction: column
    img
      width: 100%
    &-txt
      margin: 0 2rem
    &-name
      font-weight: 700
  
  .dishes
    margin-bottom: 3rem 
    padding-bottom: 1rem
    &-card
      margin-bottom: 2rem
  
  .fake
    display: none

  .cart-icon
    width: 50px
    height: 50px
    right: 5%
    bottom: 0%
  
  .manage
    width: 90%
   
  .lottery
    &-card
      flex-direction: column
      margin: 3rem 0 1.5rem 0
      height: fit-content
      width: fit-content
      img
        width: 100%
        max-width: 100%
    &-info
      width: fit-content
      margin: .6rem
    &-prize
      margin-bottom: .5rem
    &-desc
      margin-bottom: 1rem

  .login-board
    width: 90%
    margin: 2rem auto
    .username , .password
      font-size: 1.2rem
      input
        height: 1.3rem
        border-radius: 5px
        border:1.5px rgb(51, 153, 90) solid 
        font-size: 1.2rem
        width: 60%

  .lottery-add-board
    width: 90%
    .prize-name
      input
        width: 100%
    .prize-percent
      input
        width: 3rem
    .admin-btn
      margin-top: -.5rem
    .manage-btn
      right: 2%
      top: 4%
      input
        padding: .2rem .4rem
        font-size: .2rem

  .faq-add-board
    width: 90%
    .manage-btn
      input
        padding: .2rem .4rem
        font-size: .2rem

  .menu-add-board
    width: 90%
    .dish-info
      flex-direction: column
      .dish-prices
        width: 100%
        span
          width: fit-content
        input
          width: 60%
      .dish-img
        width: 100%
        span
          width: fit-content
        input
          width: 60%

    .manage-btn
      input
        padding: .2rem .4rem
        font-size: .2rem

  .footer
    &-top 
      .container 
        flex-direction: column-reverse
    &-sites 
      text-align: center
      margin-bottom: 40px



  .announce-content
    font-size: 4vw
  
  .eventMethod-block
    max-width: 95vw
  

