<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('template_head') %>
</head>
  <body>

    <div class="container">
      <h1 class='mx-auto text-center mt-4 fw-bold'><來抽個獎吧></h1>
    </div>

    <div class="container">
      <div class="position-relative mx-auto text-center my-4 w-75">

        <img class="rounded w-100" style="opacity: 0.5;height: 75vh;" src="https://pse.is/3m9zdz">

        <div class="card-body position-absolute bottom-0 start-50 translate-middle-x mb-5">
          <!-- <h1 id="title" class="card-title rounded fs-1 mb-5 fw-bold">搞不好你會中大獎↓</h1> -->
          <p class="card-text fs-4">搞不好你會中大獎↓</p>
          <a id="btn" href="result" class="btn btn-success fs-4">小試身手</a>
        </div>

        <a href="admin" class="position-absolute top-100 end-0">獎項自己決定啦</a>

      </div>
    </div>

  </body>

</html>