<div class="admin-bar">
  <div class="admin-bar-desc">後台</div>
  <div class="admin-bar-btn">
    <a href="/manage-lottery">獎項管理</a>
    <a href="/manage-menu">菜色調整</a>
    <a href="/manage-faq">常見問題</a>
    <a href="/logout">登出</a>
  </div>
</div>