<footer>
  
  <div class="footer-top">
    <div class="container">
      <div class="footer-info">
        <p>餐館地址: 天上地下天堂路三分之一里六段520號</p>
        <p>訂位專線：02-1314-5566</p>
        <p>營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息</p>
        <p>email：service@justabite.com.tw</p>
      </div>
      <div class="footer-sites">
        <div class="logo"><a href="#">Just A Bite!</a></div>
        <p>Facebook / Instagram / Youtube</p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有</p>
  </div>
  
</footer>