*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:sans-serif;
}

a{
  text-decoration: none;
  color:black;
}

body{
  font-size: 12px;
  width: 100%;
  max-width: 1920px;
  background-color: rgb(255, 255, 255);
}

h2 {
  color: red;
  font-size: 1rem;
}

.bug{
  outline: red 1px solid;

}



/* header */
header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: rgb(242 247 255);
}

.logo{
  font-size: 2.8rem;
  color: rgb(51, 153, 90);
}

nav{
  display: flex;
  align-items: center;
}

nav a{
  color:black;
  font-size: 1.2rem;
  margin-left: 1.2rem;
  margin-right: 0.5rem;
}



nav a:hover{
  color:rgb(51, 153, 90);
  font-style: italic;
  font-weight: 550;
}

.nav-color{
  color:#EE6124;
  font-weight: 550;
}



.banner{
  width: 100%;
  padding: 0 0.5rem;
}





/* section */
section{
  width:65vw;
  margin: 1rem auto;
  position: relative;
  
}


section>h2{
  position: absolute;
  width:100%;
  text-align: center;
  top:3.5rem;
}

.page{
  display: block;
  width:fit-content;
  margin:1rem auto;
  font-size: 2.5rem;
}

.card{
  display: flex;
  padding: .5rem;
  margin:2rem .5rem;
  position: relative;

}

.card-img{
  border-radius: 5px;
}

.card-info{
  margin-left: 1rem;
  height: 250px;
  overflow: hidden;
}

.card-title{
  font-size: 1.8rem;
  text-align:justify;
}

.card-time{
  color: rgb(148, 148, 148);
  font-size: 1.1rem;
}

.card-category{
  display: flex;
}
.category-btn {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgb(242 247 255);
  font-size: 1.1rem;
  margin: 0.5rem .3rem .5rem 0;
}

.card-desc{
  max-height:6em;
  font-size: 1rem;
  line-height: 1.4rem;
  text-align:justify;
  overflow:hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; 
  -webkit-box-orient: vertical;
  word-break: break-all;
  white-space: pre-line;

}

.card-admin-btn{
  position: absolute;
  bottom: 0rem;
  right: 0;
  margin: .5rem;
}

.card-admin-btn a{
  font-size: 1rem;
  padding: .2rem .5rem;
  background-color: rgb(242 247 255);
  opacity: 0.8;
}

.card-admin-btn a:hover{
  background-color: rgb(51, 153, 90);
}

.card-admin-btn a:last-child:hover{
  background-color: rgb(241, 52, 52);
}


.admin-btn{
  position: absolute;
  right: 0;
  padding: 1rem;
}


.create-btn{
  font-size: 1rem;
  padding: .2rem .5rem;
  background-color: rgb(242 247 255);
  border-radius: 5px;
  margin-left: .5rem;
}

.create-btn:hover{
  background-color: rgb(51, 153, 90);
  color:white;
}

#cke_content{
  padding: 0;
  margin: 1rem;
  border-radius: 5px;
}


.page-info{
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem auto;
  margin-top: 1rem;
}

.paginator{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.paginator a{
  font-size: 1rem;
  padding: .2rem .5rem;
  background-color: rgb(242 247 255);
  border-radius: 5px;
  margin-left: .5rem;
}

.paginator a:hover{
  background-color: rgb(51, 153, 90);
  color:white;
}



footer{
  width: 100%;
  background-color: rgb(54, 54, 54);
  color: white;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
}


/* login-page */
.login-board{
  display: block;
  border: 2px solid rgb(51, 153, 90);
  width: 30%;
  height: 15rem;
  margin: 10rem auto;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.7);
  text-align: center;
  position: relative;
}

.lg-title{
  font-size: 2.3rem;
  margin:1rem 0 1.5rem 0;
}



.login-board>h2{
  position: absolute;
  top:3.7rem;
  width:100%;
}


.username , .password{
  font-size: 1.2rem;
  margin:1rem 0;
}

.username>input , .password>input{
  height: 1.5rem;
  border-radius: 5px;
  border:rgb(51, 153, 90) solid 1.5px;
  font-size: 1.2rem;
  width: 40%;
}

.submit-btn{
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  padding: .2rem 1rem;
  border-radius: 5px;
  border: 1.5px rgb(51, 153, 90) ;
}

.submit-btn:hover{
  background-color: rgb(51, 153, 90);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.login-board a{
  font-size: 1rem;
  margin: 0 .3rem;
  text-decoration: underline;
}

.login-board a:hover{
  color: rgb(51, 153, 90);
}


/* edit-page */
.panel{
  display: block;
  border: 2px solid rgb(51, 153, 90);
  width: 70%;
  margin: 3rem auto;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.7);
  text-align: center;
}

.panel-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 2rem;
}

.ed-title{
  font-size: 2rem;
}

.ed-back-btn{
  font-size: 1.5rem;
}

.ed-back-btn:hover{
  color: rgb(51, 153, 90);
  cursor: pointer;
}

textarea{
  width: 95%;
  border-radius: 5px;
  border:rgb(155, 155, 155) solid 1.2px;
  font-size: 1.6rem;
  padding: .5rem;
  background-color: rgb(255, 255, 255);
}



.delete-btn{
  font-size: 1.5rem;
  background-color: rgb(255, 255, 255);
  padding: .2rem 1rem;
  border-radius: 5px;
  line-height: 1.5rem;
}

.delete-btn:hover{
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.edit-delete:hover{
  background-color: rgb(241, 52, 52);
  cursor: pointer;
}

#read-btn:hover{
  background-color: rgb(51, 153, 90);
}

.ed-form>div{
  padding: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
}


select{
  width: 8rem;
  height: 2.5rem;
  border: 1px solid rgb(51, 153, 90);
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 5px;

}



/* article-page */
.article{
  display: block;
  border: 1.5px solid rgb(51, 153, 90);
  width: 100%;
  min-height: 80vh;
  margin: 3rem auto;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.7);
  text-align: center;
}

.atc-title{
  font-size: 3rem;
  margin-bottom:1rem;
  padding-top: 2rem;
  padding: 3rem;
  text-align: center;
  word-break: break-all;
  white-space: pre-line;
}

.atc-category{
  display: flex;
  justify-content: center;
}

.atc-content{
  font-size: 1.2rem;
  margin:2rem;
  text-align: justify;
  word-break: break-all;
  white-space: pre-line;
}



/* article-list */

.list-block{
  display: block;
  border: 1.5px solid rgb(51, 153, 90);
  width: 100%;
  min-height: 80vh;
  margin: 3rem auto;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(131, 131, 131, 0.7);
  text-align: left;
  padding-bottom: 2rem;
}

.list-card{
  margin:1rem auto;
  width: 80%;
  border-bottom: solid 1px rgb(51, 153, 90);
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.list-title{
  font-size: 1.5rem;
  text-align: justify;
  word-break: break-all;
  white-space: pre-line;
}

.list-title:hover{
  color: green;
  font-weight: 550;
}


.list-right{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
}

.list-time{
  font-size: .9rem;
  min-width: fit-content;
  color: rgb(148, 148, 148);
  margin-left: .5rem;
  margin-right: .3rem;
}


/* admin */
.list-admin-btn{
  position: initial;
  padding: 0;
  margin:0;

}

.list-admin-btn>a{
  font-size: .9rem;
  padding: .2rem .3rem;
  margin-left:0rem ;
}




.page .list-title:nth-child(1) {
  display: block;
}
.page .list-title:nth-child(2) {
  display: block;
}

.admin-select{
  margin: 1rem;
}




/* about */
.about-card{
  display: flex;
  width: 100%;
  height: 70vh;
  padding: 2rem;
}

.about-info{
  margin:1rem;
}

h1{
  font-size:2.5rem;
  padding: 1rem 1.5rem;
}

.about-info>p{
  font-size: 1rem;
  padding: 1rem 1.5rem;
  text-align: justify;
  white-space: pre-line;
  word-break: break-word;
}

.link{
  display: block;
  width:fit-content;
  margin:0 auto;
  padding-top: 1rem;
}

.link-btn{
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 .3rem;
}


