<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('templates/head') %>
  <title>JB-Manage</title>
</head>

<body>
  <%- include ('templates/header') %>


  <section class="manage">
    <h2 class="title">後台-常見問題</h2>

    <div class="admin-btn manage-btn">
      <button class="admin-btn-first">登出</button>
      <button class="admin-btn-second">新增</button>
    </div>
  
    <div class='Question qa-card '>
      <div>
        <h3 class='Question-title '><span class="Question-list">Q1:</span>&nbsp&nbsp如何辦理退貨？</h3>
        <div class='card-answer'>如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？</div>
      </div>
      <div class="admin-btn qa-btn ">
        <button class="admin-btn-first">編輯</button>
        <button class="admin-btn-second">刪除</button>
      </div>
    </div>


    <div class='Question qa-card '>
      <div>
        <h3 class='Question-title '><span class="Question-list">Q1:</span>&nbsp&nbsp如何辦理退貨？</h3>
        <div class='card-answer'>如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？如何辦理退貨？</div>
      </div>
      <div class="admin-btn qa-btn ">
        <button class="admin-btn-first">編輯</button>
        <button class="admin-btn-second">刪除</button>
      </div>
    </div>

  </section>



  <%- include ('templates/footer') %> 
</body>

</html>