<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('templates/head') %>
  <title>JB-Manage</title>
</head>

<body>
  <%- include ('templates/header') %>


  <section class="manage manage-menu">
    <h2 class="title">後台-菜單管理</h2>

    <div class="admin-btn manage-btn">
      <button class="admin-btn-first">登出</button>
      <button class="admin-btn-second">新增</button>
    </div>
  
    <section class="dishes admin-dishes ">

      <div class="dishes-card ">
        <img src="/images/dishes-f1.png" alt="">
        <div class="dishes-info ">
          <p class="dishes-name">輕盈高麗卷湘南</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
        </div>
        <div class="admin-btn menu-btn">
          <button class="admin-btn-first">編輯</button>
          <button class="admin-btn-second">刪除</button>
        </div>
      </div>
  
      <div class="dishes-card ">
        <img src="/images/dishes-f1.png" alt="">
        <div class="dishes-info ">
          <p class="dishes-name">輕盈高麗卷湘南</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
        </div>
        <div class="admin-btn menu-btn">
          <button class="admin-btn-first">編輯</button>
          <button class="admin-btn-second">刪除</button>
        </div>
      </div>

      <div class="dishes-card ">
        <img src="/images/dishes-f1.png" alt="">
        <div class="dishes-info ">
          <p class="dishes-name">輕盈高麗卷湘南</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
        </div>
        <div class="admin-btn menu-btn">
          <button class="admin-btn-first">編輯</button>
          <button class="admin-btn-second">刪除</button>
        </div>
      </div>

      <div class="dishes-card ">
        <img src="/images/dishes-f1.png" alt="">
        <div class="dishes-info ">
          <p class="dishes-name">輕盈高麗卷湘南</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
        </div>
        <div class="admin-btn menu-btn">
          <button class="admin-btn-first">編輯</button>
          <button class="admin-btn-second">刪除</button>
        </div>
      </div>

      <div class="dishes-card ">
        <img src="/images/dishes-f1.png" alt="">
        <div class="dishes-info ">
          <p class="dishes-name">輕盈高麗卷湘南</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
        </div>
        <div class="admin-btn menu-btn">
          <button class="admin-btn-first">編輯</button>
          <button class="admin-btn-second">刪除</button>
        </div>
      </div>
  
      <div class="dishes-card fake"></div>
  
      
    </section>
    
  </section>
 




    <%- include ('templates/footer') %> 
</body>

</html>