<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('templates/head') %>
  <title>JB-Menu</title>
</head>

<body>
  <%- include ('templates/header') %>

  
  <section class="banner-menu"></section>
  
  <section class="hot-sell">
    <h2 class="title">熱銷搶購中</h2>
    <div class="menu-images menu-sell">
      <div><img src="/images/dishes-f5.png" alt=""></div>
      <div><img src="/images/dishes-f6.png" alt=""></div>
      <div><img src="/images/dishes-f7.png" alt=""></div>
    </div>
  </section>


  <section class="menu-intro">
    <img src="/images/menu-p1.png" alt="">
    <div class="menu-intro-txt">
      <h3>在家也能輕鬆<br>咬一口我們的鮮甜清爽</h3>
      <p>您再也不必受限於時間或地點，隨時隨地透過我們24小時的線上購物選購，咬一口廚房堅持以細選食材、輕盈口感，呈現食材本身的原滋原味。<br><br>我們將咬一口的經典菜色研發製成相應當季的包裝食品及各式精美的伴手禮盒。將剛出爐的新鮮迅速送達家人手中，也適合與更多喜愛咬一口的親朋好友分享難得的健康滋味。
      </p>
    </div>
  </section>

  <div class="middle-info">立 即 輕 鬆 選 購
  </div>

  <section class="dishes">

    <div class="dishes-card">
      <img src="/images/dishes-f1.png" alt="">
      <div class="dishes-info">
        <p class="dishes-name">輕盈高麗卷湘南</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
      </div>
      <button class="dishes-btn">加入購物車</button>
    </div>

    <div class="dishes-card">
      <img src="/images/dishes-f2.png" alt="">
      <div class="dishes-info">
        <p class="dishes-name">鮮嫩洋芋白丁佐莎莎</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
      </div>
      <button class="dishes-btn">加入購物車</button>
    </div>

    <div class="dishes-card">
      <img src="/images/dishes-f3.png" alt="">
      <div class="dishes-info">
        <p class="dishes-name">六彩雙茄起司沙拉</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
      </div>
      <button class="dishes-btn">加入購物車</button>
    </div>

    <div class="dishes-card">
      <img src="/images/dishes-f4.png" alt="">
      <div class="dishes-info">
        <p class="dishes-name">豆芽涼拌羅勒小金磚</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
      </div>
      <button class="dishes-btn">加入購物車</button>
    </div>

    <div class="dishes-card">
      <img src="/images/dishes-f4.png" alt="">
      <div class="dishes-info">
        <p class="dishes-name">豆芽涼拌羅勒小金磚</p>&nbsp|&nbsp<p class="dishes-price">$280</p>
      </div>
      <button class="dishes-btn">加入購物車</button>
    </div>

    <div class="dishes-card fake"></div>

    <div class="cart-icon">
      <img src="/images/shopping-cart.png" alt="">
      <div class="cart-icon-count">2</div>
    </div>

  </section>


  <div class="middle-info">還 是 想 要 親 身 體 會 我 們 的 服 務 ？
  </div>

  <section class="location">
    <div class="container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.002890183711!2d121.56235021485703!3d25.033975983972393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abb6da9c9e1f%3A0x1206bcf082fd10a6!2zMTEw5Y-w5YyX5biC5L-h576p5Y2A5L-h576p6Lev5LqU5q61N-iZnw!5e0!3m2!1szh-TW!2stw!4v1619703729100!5m2!1szh-TW!2stw" width="100%" height="450" style="border:0;"  loading="lazy"></iframe>
    </div>
  </section>

  <%- include ('templates/footer') %>
</body>

</html>