<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/style/style.css">
  <title>JB-Manage</title>
</head>

<body>

  
  <div class="menu-add-board">

 
    <div class="lg-title">新增料理</div>


    <div class="admin-btn manage-btn">
      <input type="button" class="admin-btn-first" value="返回"></input>
    </div>

    <form  method="POST" action="/register">

      <div class='dish-name'>
        <span >料理名稱：</span>
        <input name="password"  />
      </div>

      <div class="dish-info">
        <div class='dish-prices'>
          <span >價格：</span>
          <input  name="password"  />
        </div>
        
        <div class='dish-img'>
          <span >圖片：</span>
          <input  name="password"  />
        </div>
      </div>

      <div class="admin-btn">
        <input type="button" class="admin-btn-first" value="編輯"></input>
        <input type="submit" class="admin-btn-second" value="建立"></input>
      </div>

    </form>

    
    
  </div>

</body>

</html>