<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/style/style.css">
  <title>JB-lottery</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="logo"><a href="/">Just A Bite!</a></div>
      <nav class="header-nav">
        <a class="nav-lottery" href="/lottery">抽個大獎</a>
        <a class="nav-empty" href="#">我要點餐</a>
        <a class="nav-empty" href="#">查詢訂單</a>
        <a class="nav-faq" href="/faq">常見問題</a>
      </nav>
    </div>
  </header>



  <section>
    <div class="container event-bg">

      <div class="eventMethod-block ">
        <div class="eventMethod-title ">2048 美夢成真抽獎特賞！</div>
        <div class="eventMethod-description ">
          <div class="description-subject">活動期間：</div>
          <div class="description-content ">2048/06/06~2049/08/07</div>
        </div>
        <div class="eventMethod-description">
          <div class="description-subject">活動說明：</div>
          <div class="description-content">只要不要失敗，包準你開心ㄉ飛上天</div>
        </div>
        <div class="eventMethod-description ">
          <div class="description-subject ">獎  項：</div>
          <div class="description-content ">搭乘blue Origin<br>成為Coding大神<br>獲得一架鋼彈<br><br>更多秘密獎項等你來抽</div>
        </div>

        <button type="submit" value="Submit" class="eventMethod-btn">我要抽獎</button>
      </div>

      <form class="announce-block hide">
        <div class="announce-content FIRST hide">恭喜你中頭獎了！日本東京來回雙人遊！</div>
        <div class="announce-content SECOND hide">二獎！90 吋電視一台！</div>
        <div class="announce-content THIRD hide">恭喜你抽中三獎：知名 YouTuber 簽名握手會入場券一張，bang！</div>
        <div class="announce-content NONE hide">銘謝惠顧</div>

        <!-- 重新整理在按鈕標籤直接加 onclick="javascript:window.location.reload()" -->
        <button type="submit" value="Submit" class="announce-btn">我要抽獎</button>
      </form>

    </div>
  </section>



  <footer>

    <div class="footer-top">
      <div class="container">
        <div class="footer-info">
          <p>餐館地址: 天上地下天堂路三分之一里六段520號</p>
          <p>訂位專線：02-1314-5566</p>
          <p>營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息</p>
          <p>email：service@justabite.com.tw</p>
        </div>
        <div class="footer-sites">
          <div class="logo"><a href="#">Just A Bite!</a></div>
          <p>Facebook / Instagram / Youtube</p>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <p>Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有</p>
    </div>

  <script src="../public/scripts/lottery.js"></script>
</body>

</html>