<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>W11H2</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  

  <div class="login-board">

 
    <div class="lg-title">Register</div>

    <% if (errorMessage && errorMessage.length > 0) { %> 
      <h2><%= errorMessage %></h2>
    <% } %> 

    <form method="POST" action="/register">

      <div class='username'>
        <span>Username: </span>
        <input type="text" name="username" />
      </div>

      <div class='password'>
        <span>Password :  </span>
        <input type="password" name="password" />
      </div>
      
      <input class="submit-btn"type="submit" value="Submit"></input>

    </form>

    <a href="/">Back</a>
    <a href="/login">Login</a>
    
  </div>

</body>
</html>
